head{
    background-color: rgb(172, 235, 225);
}
body{
    background-color: rgb(203, 218, 240);;
    
    
    
}

hr{
    
   
    
    
    border-color: rgb(42, 132, 164);
    
    
    border-style: none;
     border-top-style: dotted;
    border-width: 5px;
    width: 20%;
    
    
}
h3{
    color: rgb(36, 135, 79);
}
h2{
    color: rgb(29, 91, 59);
}
